
<div class="container">
    <form [formGroup]="formGroup"> 
        <div class="form-group"  >
          <label class="control-label">งวดวันที่</label>
          <select class="form-control" formControlName="period">
            <option value="20190201">01 กุมภาพันธ์ 2562</option>
            <option value="20190216">16 กุมภาพันธ์ 2562</option>
          </select>
        </div>
        <div class="form-group"> 
          <label class="control-label">เลขล๊อตเตอร์รี่</label>
          <input class="form-control" formControlName="lottoNumber">
        </div>
        <div class="row">
            <div class = "col-sm-6 form-group">
            <button class="btn btn-primary btn-block" (click)="checkLotto()">ตรวจ</button>
          </div>
          <div class = "col-sm-6 form-group">
            <button class="btn btn-secondary btn-block">ล้าง</button>
          </div>
        </div>
      </form>
      <div>
        <ul *ngFor="let r of result">
          <li>รางวันที่ 1 : {{r.bigPrize}} รางวัลเลขท้าย 3 ตัว : {{r.lastThreeDigitPrize}}</li>
        </ul>
      </div>
</div>